
client/9Pad/.idea
client/9Pad/resources/images/page*.png
static_content/.idea/
static_content/*.html
static_content/C*.jpg
static_content/C*.mp4
static_content/C*.html
.idea/
access_log
agent_log
error_log
referer_log